@import '../main/_constant';

.card__wrapper
	position relative
	display flex
	flex-wrap wrap	
	
	&.card--round
		.card__inner
			border-radius $radius_px_normal
	
	&.card--pos-4		
		.card__inner
			width 20%
			flex 0 1 20%
			margin 1% 1%
			padding 1.5%
			
	.card__inner
		position relative		
		box-shadow $shadow['card-normal'];		
		background $color['white'];
		
		&.has--cursor
			cursor pointer
			opacity 1
			transition all 0.2s ease-in-out
			
			&:hover
				opacity .9
		
		&.has--header
			padding-top 120px
			
			&.header--black
				.card__header
					background-color $color['black-minimum'];
					
					h1, td
						color $color['white'];
			
			&.header--relative
				padding-top 0
				border-radius $radius_px_normal $radius_px_normal 0 0
				
				.card__header					
					position relative
					width auto
					display block
					height auto
					padding $padding_px_medium
					text-align left
		
		&:nth-child(even)
			.card__header
				background-color $color['orange'];
		
		&:nth-child(odd)
			.card__header
				background-color $color['purple'];
		
		.card__header
			border-radius $radius_px_normal $radius_px_normal 0 0
			position absolute
			width 100%
			height 100px
			top 0
			left 0		
			text-align center		
			
			img
				margin-top 15px
				height 70px
				
			h1
				font-size $size['px-medium'];
			
			td
				font-size $size['px-normal'];
		
		.card__space
			position relative
			overflow hidden
			display block
			padding 1.5%							
		
		.card__title
			position relative			
			overflow hidden
			font-size $size['px-normal'];
			margin-bottom $margin['px-medium'];
			text-transform capitalize
			white-space nowrap
			text-overflow ellipsis
			font-family $font_stack_heading
			color $color['gray-medium'];
		
		p 
			font-size $size['px-small'];
			font-weight bold
			color $color['gray-light'];
			line-height 2.25em

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)		
	.card__wrapper				
		&.card--pos-4		
			.card__inner
				width 100%
				flex 0 1 95%
				margin 1% 1% 2%
				padding 1.5%
		
		.card__inner
			position relative		
			box-shadow $shadow['card-normal'];		
			background $color['white'];
			
			&.has--header
				padding-top 120px