@import '../main/_constant';

.footer__wrapper
	position relative
	width 100%
	margin 0 auto
	overflow hidden
	display block
	text-align center
	
	.footer__container
		position relative
		padding 5px 0
		
		p 
			font-size $size['px-minimum'];
			font-weight bold