@import '../main/_constant';

.grid__block
	position relative
	overflow hidden
	padding 1% 1.5%
	float left
	display block
	vertical-align top
	
	&.grid--60
		width 57%
	
	&.grid--40
		width 37%
	
	&.grid--100
		width 97%
		

.block__space
	position relative
	display block
	padding 2% 1.5%
	overflow hidden
	margin-bottom $margin['px-medium'];

	&.bg--black
		background-color $color['black-minimum'];
		
		p 
			color $color['white'];
	

.block__flex
	position relative
	display flex
	flex-wrap wrap 
	
	.block__flex__inner
		flex 1 1 auto
		margin-right $margin['px-medium'];
	
		&.flex--grow-y
			flex 0 1 auto
			
			&.has--background
				flex 0 1 150px
				background-size cover
				background-attachment scroll
				background-position center center
				
		p
			font-weight bold
			text-transform capitalize

.block__section
	position relative
	display block
	margin-bottom $margin['px-normal'];
	
	.section__title
		&.has--border-left
			padding-left $padding_px_medium
			border-left 6px solid red

.grid__loader
	position relative
	display block
	overflow hidden
	margin 15% auto 0
	text-align center
	
	&.align--left
		text-align left
	
	&.space--minimum
		margin 5% auto 0
		
		h1
			font-size $size['px-medium'];
	
	h1
		color $color['gray-light'];

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)
	.grid__block	
		&.grid--60
			width 97%
		
		&.grid--40
			width 97%
		
		&.grid--100
			width 97%