@import '../main/_constant';

.header__wrapper
	position relative
	width 100%
	display block
	
	.header__container
		position relative
		padding 1%
		display block
		overflow hidden
		user-select none
		
		.logo
			display block
			float left
			
			h1, p
				cursor pointer
				
			p 
				font-size $size['px-normal'];
				font-weight bold
				color $color['gray-light']