font-smoothing($smoothing = auto) {
	-webkit-font-smoothing $smoothing 
	
	if $smoothing == antialiased {
		-moz-osx-font-smoothing grayscale
	}
	
	if $smoothing == subpixel-antialiased {
		-moz-osx-font-smoothing auto
	}
	
	font-smoothing $smoothing
}