@import './_constant.styl';
@import '../mixin/_font-smoothing';

*
	font-smoothing();

body
	position relative
	background-color $color['lightgray-minimum'];
	min-height 100%
	font-size 15px
	overflow-x hidden
	
	&.page--not-found
		background-image url('assets/images/bg.png')
		background-repeat no-repeat
		background-attachment fixed
		background-color $color['white'];
		
		.description__404
			position relative							
			margin 30vh 0 0 35vw
			
			h1
				color $color['gray-medium'];
			
			p 
				color $color['gray-light'];
	
.page__wrapper
	position relative
	display block
	width 95%
	margin 0 auto

.clearfix
	clear both
	
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)		
	body
	
		&.page--not-found
			
			.description__404
				text-align center
				background-color rgba(0,0,0,0.35)
				padding $padding_px_medium
				margin 30vh 0 0 0
				
				h1
					color $color['white'];
					font-size $size['px-super'];
				
				p 
					color $color['white'];