// constant color
$color = {
	"black": #020202,
	"black-minimum": #242424,
	"white": #fff,
	"gray-super": #404040,
	"gray-medium": #565656,
	"gray-light": #858585,
	"lightgray-minimum": #EFEFEF,
	"orange": #e75b30,
	"purple": #5b3587,
	"green": #22D486,
	"green-dark": #20c67d
}

// constant shadow
$shadow = {
	"card-normal": 0 0 3px 1px rgba(0,0,0,0.15)
}

// constant size
$size = {
	"heading-1": 32px,
	"heading-2": 28px,
	"heading-3": 24px,
	"heading-4": 21px,
	"heading-5": 17px,
	"heading-6": 15px,
	"px-super": 24px,
	"px-medium": 20px,
	"px-normal": 15px,
	"px-small": 13px,
	"px-minimum": 12px
}

// constant margin
$margin = {
	"px-super": 25px,
	"px-medium": 15px,
	"px-normal": 10px,
	"px-minimum": 5px
}

$padding_px_maximum = 35px
$padding_px_super = 25px
$padding_px_medium = 15px
$padding_px_normal = 10px
$padding_px_minimum = 5px

// constant font-stack
$font_stack_regular = "Roboto", sans-serif
$font_stack_heading = "Roboto-Bold", cursive

// constant radius
$radius_px_normal = 6px
$radius_px_small = 3px