@import './_constant';

@font-face
	font-family "Roboto"
	src url('assets/fonts/Roboto-Regular.ttf')

@font-face
	font-family "Roboto-Bold"
	src url('assets/fonts/Roboto-Bold.ttf')


h1,h2,h3,h4,h5,h6
	font-family $font_stack_heading
	line-height 1.35em
	margin-bottom $margin['px-minimum'];
	color $color['gray-super'];
	
h1
	font-size $size['heading-1'];
	
h2
	font-size $size['heading-2'];

h3
	font-size $size['heading-3'];

h4
	font-size $size['heading-4'];

h5
	font-size $size['heading-5'];

h6
	font-size $size['heading-6'];

p,pre
	font-family $font_stack_regular
	font-size 14px
	line-height 1.85em
	margin-bottom $margin['px-minimum'];
	color $color['gray-medium'];
	
pre
	white-space pre-wrap
	
.align--center
	text-align center