@import '../main/_constant';

.button
	appearance none
	outline 0
	border-radius $radius_px_small	
	color $color['gray-medium'];
	background-color transparent
	border 0	
	font-family $font_stack_regular
	font-size $size['px-normal'];
	margin $padding_px_normal 0
	padding $padding_px_medium $padding_px_maximum
	
	&.button--default
		background transparent
		border 0
		color $color['gray-medium'];
	
	&.button--green
		background-color $color['green'];
		color $color['white'];		
		
		&:hover
			background-color $color['green-dark'];
		
		&:active
			box-shadow inset 3px 5px 3px rgba(0,0,0,0.05)