@import '../main/_constant';

.table
	width 100%
	display table
	position relative
	font-family $font_stack_regular
	
	&.no--border
		border 0
	
	&.text--bold
		font-weight bold
	

	td 
		color $color['gray-light'];
		padding $padding_px_normal